<!DOCTYPE html>
<html lang="en-US">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <body>
    <!--
    * ng-app
    Auto-bootstrap for AngularJS application. It defines the root
    element.
    Only one application can be bootstrapped per html document.
    You have to manually bootstrap if you have multiple
    applications in a document.

    * ng-controller
    Initialises scope by:
    - creates a new child scope,
    - sets initial state,
    - adds behaviour to the $scope.
    -->
    <div ng-app="myApp" ng-controller="bowlingScorerController">
      <!--
      This binds the input field in the UI to the $scope.roll1 property.
      Angular then adds a watch function to the $watch list.
      A browser event triggers Angular's $digest loop: Angular app walks down
      the $watch list and records the new value if it has changed.  As a change
      in one value could cause a change to another, Angular re-runs through the
      $watch list until no values have changed.
      -->
      Roll 1: <input type="text" ng-model="roll1"><br>
      Roll 2: <input type="text" ng-model="roll2"><br>
      <br>
      Score: {{ get_score() }}
      <script>
        var app = angular.module('myApp', []);
        app.controller('bowlingScorerController', function($scope) {
            $scope.roll1 = 0;
            $scope.roll2 = 0;
            $scope.get_score = function() {
                return parseInt($scope.roll1) + parseInt($scope.roll2);
            }
        });
      </script>
    </div>
  </body>
</html>
